.cientifico{
    padding: 10px;
}#contenedor {display: flex}
body{color: rgb(170, 131, 77);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 24px;}
    p{text-align: center;}